@import url(../../vars.css);

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: #EADEDE;
    border-radius: 20px;
    height: 50vh;
    width: 50vw;
    color: var(--color_grey);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container p {
    margin-bottom: 30px;
}

.container img {
    object-fit: cover;
}

.gif {
    width: 25vw;
    position: absolute;
    top: 10vh;
}

.title {
    position: absolute;
    top: 10px;
    font-size: 30px;
    padding: 10px;
}

.newDogBG {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.newDog {
    position: absolute;
    top: 0px;
}

.newDog h2 {
    font-size: 30px;
    margin-bottom: 40px;
    padding: 10px;
}

.button {
    cursor: pointer;
    margin: 15px;
}

.button button {
    cursor: pointer;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--color_grey);
    background-color: #EADEDE;
    color: var(--color_grey);
    font-weight: bold;
}

.button button:hover {
    background-color: var(--color_grey);
    color: #EADEDE;
}

.buttonsDiv button {
    width: 120px;
}

/* Responsive mobile */
@media screen and (max-width: 600px) {
    .container {
        height: 50vh;
        min-height: 40vh;
        width: 80vw;
    }

    .button {
        cursor: pointer;
        margin: 5px;
    }

    .gif {
        width: 40vw;
        position: absolute;
        top: 20vh;
    }
}