.container {
    position: relative;
    min-height: 100vh;
    background: transparent;
    margin: 0px;
    padding: 0px;
}

.container::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    background-image: url('../../Assets/bg_main4.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    opacity: 1;
}

.breeds {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.message {
    height: 45vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}

.boton {
    background-color: var(--color_golden);
    margin-top: 10px;
    width: 150px;
    height: 5vh;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 2px goldenrod solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.boton:hover{
    border: none;
    background-color: rgba(218, 165, 32, 0.616);
}

.boton2 {
    background-color: var(--color_golden);
    margin-top: 10px;
    width: 150px;
    height: 6vh;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 2px goldenrod solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.boton2:hover{
    border: none;
    background-color: rgba(218, 165, 32, 0.616);
}

.gif {
    width: 25vw;

}