@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
    --font_cursive: 'Dancing Script', cursive;
    --color_golden: rgb(218, 165, 32);
    --color_grey: rgba(27, 27, 27, 0.95);
}