@import url('../../vars.css');

.container {
    position: relative;
    cursor: pointer;
    text-decoration: none;

    box-sizing: border-box;
    width: 21vw;
    margin: 10px;
    padding: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    border: 1px rgba(255, 255, 255, 0.2) solid;
    transition: box-shadow 0.15s ease-in,
                border 0.15s step-end;
    border-radius: 10px;

    background: var(--color_grey);
    color: var(--color_font);
    color: var(--color_font);
}

.container:hover {
    border: 1px rgba(218, 165, 32, 0.692) solid;
    box-shadow: 0px 0px 12px 1px rgb(218, 165, 32);
}

.container p {
    margin: 5px;
}


.img {
    height: 35vh;
    width: 19vw;
    border-radius: 10px;
    margin: 0px;
}

.breedName {
    font-family: var(--font_cursive);
    color: var(--color_golden);
    font-size: 2rem;
    text-align: center;
    max-width: 95%;
}

.breedName h3 {
    margin-bottom: 15px;
}

.span {
    font-weight: 800;
}

.temperaments {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.temperaments>span {
    border: 1px solid var(--color_golden);
    border-radius: 20px;
    padding: 10px;
    margin: 3px;
    font-size: 12px;
}