@import url('../../vars.css');

.container {
    position: relative;
    width: 300px;
    background: var(--color_grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: var(--color_font);
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
}

.container p {
    margin: 5px;
}


.img {
    height: 35vh;
    width: 100%;
    border-radius: 10px;
    margin: 0px;
}

.breedName {
    text-decoration: none;
    font-family: var(--font_cursive);
    color: var(--color_golden);
    font-size: 30px;
    text-align: center;
    max-width: 95%;
}

.breedName h3 {
    margin-bottom: 15px;
}

.breedName:hover {
    text-decoration: underline;
}

.span {
   font-weight: 800;
}

.temperaments{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.temperaments > span {
    border: 1px solid var(--color_golden);
    border-radius: 20px;
    padding: 10px;
    margin: 3px;
    font-size: 12px;
}