@import url('../../vars.css');

.form {
    position: relative;
    box-sizing: border-box;
    width: 22vw;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px var(--color_grey) solid;
    border-radius: 20px;
    margin: 0px;
    padding: 10px 7px;

    position: absolute;
    top: 2vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.input {
    box-sizing: border-box;
    width: 86%;
    margin: 0px;
    margin-left: 7px;

    background-color: transparent;
    border: none;
    color: var(--color_grey);
    outline: none;

    font-size: 15px;
    font-family: 'Exo', sans-serif;
}

.boton {
    background-color: transparent;
    cursor: pointer;

    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0px;

    display: flex;
    align-items: center;

    border: none;
    background-color: var(--color_golden);
    border-radius: 15px;
}

.img {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0px;
    border: none;
    display: flex;
    align-items: center;
}

/* Responsive mobile */
@media screen and (max-width: 600px) {
    .form {
        border: 1px var(--color_golden) solid;
        position: relative;
        box-sizing: border-box;
        width: 50vw;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .input {
        box-sizing: border-box;
        width: 86%;
        margin: 0px;
        margin-left: 7px;
    
        background-color: transparent;
        border: none;
        color: var(--color_golden);
        outline: none;
    
        font-size: 15px;
        font-family: 'Exo', sans-serif;
    }
}