@import url('../../vars.css');

.bg {
    background-image: url('../../Assets/bg_landing.jpg');
    background-repeat: no-repeat;
    background-size:auto;
    background-size: 100%;
    height: 100%;
}

.main {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30vw;
}

.title {
    font-family: var(--font_cursive);
    color: var(--color_golden);
    font-size: 125px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.boton {
    background-color: transparent;
    margin-top: 10px;
    width: 15vw;
    height: 10vh;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px goldenrod solid;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.boton:hover{
    border: none;
    background-color: rgba(218, 165, 32, 0.616);
}