@import url('../../vars.css');

.homeIcon {
    width: 50px;
}

.NavBar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px 20px;
    height: 10vh;
    position: relative;
    background-color: #dbcb53
}